<div class="row" style="background: url(../../img/fundo_passo2.jpg)">
    <div growl></div>
    <div class="row ">
        <div class="col-md-12 first-heading">
            <h3>Passo 2/3: <strong>Confirme seu pedido!</strong></h3>
        </div>
    </div>

    <div class="row ">
        <div class="secondpage-mainbox">
            <div class="pmodal-header">
                <div class="justified-content">
                    <div>
                        <img src="../../img/ico_carrinho.png" class="img img-responsive" />
                        <strong>SEU CARRINHO</strong>
                    </div>
                    <div>
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="pmodal-body">
                <div class="row">
                    &nbsp;
                </div>
                <div class="row" ng-repeat="product in productsCart">
                    <strong>{{product.name}}</strong><br />
                    <small>{{product.type}} {{product.capacity}}</small><br />
                    <div class="justified-content" style="width: 90%">
                        <div><small>{{product.qty}} Un X {{product.price | currency:"R$":2}}</small></div>
                        <div><strong>{{product.price * product.qty | currency:"R$":2}}</strong></div>
                    </div>
                </div>
            </div>
            <div class="pmodal-footer">
                <div class="row">
                    <div class="justified-content" style="font-size: 18px">
                        <div><strong>TOTAL</strong></div>
                        <div><strong>{{model.total | currency:"R$":2}}</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:15px; padding-bottom: 15px">
        <div class="secondpage-infobox" style="height: 60px;">
            <div style="float: left; margin-left: -25px; margin-top: -3px;"><img src="../../img/ico_pagto.png" class="img img-responsive" /></div>
            <div style="color: white; font-size: 16px;">Você poderá pagar com dinheiro ou cartão, na entrega dos seus produtos.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6 col-xl-6 footer2" ng-click="previousStep()" style="cursor: pointer; background-color: #734200">
            <img src="img/bt_back.png" class="img img-responsive footer-img">
            <p class="footer-text" style="padding-top: 20px; font-size: 17px">Ops, esqueci algo <br> <strong class="footer-price">VOLTAR</strong></p>
        </div>
        <div class="col-md-6 col-xs-6 col-lg-6 col-xl-6 footer2" ng-click="nextStep()" style="cursor: pointer">
            <p class="footer-text1"><strong>CONFIRMAR</strong><br> <span class="footer-price">PEDIDO!</span></p>
            <img src="img/bt_next.png" class="img img-responsive footer-img1">
        </div>
    </div>
</div>

