<div class="row" style="background: url(../../img/fundo_obrigado.jpg); background-size: contain">    
    <div class="row thankyouPadding">
        <div class="col-md-12 first-heading" style="color: white">
            <span class="thankyouStrong">Obrigado!</span><br />
            <span class="thankyouLight">
                &nbsp;&nbsp;
            </span>
        </div>
    </div>
    <div class="row" style="padding-top:15px; padding-bottom: 15px">
        <div class="thankyouBox rowHeader" style="background-color: #D69719">
            <div class="col-md-4 col-xs-4 col-lg-4 col-xl-4">
                <span class="helper"></span><img src="../../img/ico_carregador.png" class="img img-responsive" />
            </div>
            <div class="col-md-8 col-xs-8 col-lg-8 col-xl-8">                
                SEU PEDIDO FOI RECEBIDO E JÁ ESTÁ SENDO PREPARADO PARA ENTREGA.
            </div>
        </div>
    </div>
    <div class="row rowHeader noSideMargins" style="background-color: #013A41">
        <div class="footer2" ng-click="homePage()" style="cursor: pointer; background-color: #734200; width: 49%">
            <div class="bottomDiv1">
                <img src="img/bt_back.png" class="img img-responsive footer-img">
                <span class="bottomBold">VOLTAR<br> <span class="bottomThin">PARA INÍCIO</span></span>                
            </div>
        </div>
        <div class="thankyoufooter" style="cursor: pointer; width: 48%">
            <div class="bottomDiv2">                             
                <span class="thankyouText">DÚVIDAS? ENTRE EM CONTATO: <br /><span class="thankyouNumber">(48) 98822-6306</span></span>
            </div>
        </div>
    </div>
</div>

